.avatar-wrapper {
    position: relative;
    width: 260px;
    aspect-ratio: 1/1;
    display: inline-block;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    overflow: visible;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.avatar-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.avatar-wrapper,
.avatar-img,
.avatar-overlay {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    outline: none;
}

.avatar-wrapper:focus,
.avatar-img:focus,
.avatar-overlay:focus {
    outline: none;
}